section {
    width: 850px;
    max-width: 100%;
    margin: 20px auto; /* Cambiado a auto en los lados para centrar */
    padding: 20px;
    background: var(--color-gradiente);
    background-color: var(--color-secundario); /* Esto podría sobrescribir el gradiente */
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--color-sombra);
    transition: transform 0.3s ease;
}


section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    transition: color 0.3s ease;
    color: var(--color-texto);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: #1a1a1a 1px 1px 2px;
    background: -webkit-linear-gradient(45deg, var(--color-primario), var(--color-secundario));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section:hover {
    transform: scale(1.02);
}

section p {
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    color: var(--color-texto);
    margin-bottom: 20px;
    text-shadow: 0 1px 2px var(--color-sombra);
}

section img {
    width: 800px;
    max-width: 100%; /* Añadido para responsividad */
    height: 400px;
    display: block;
    margin: 0 auto 20px;
    transition: filter 0.3s ease;
    filter: brightness(0.8);
    box-shadow: 0 4px 8px var(--color-sombra);
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

section img:hover {
    filter: brightness(1);
}

section a:hover {
    color: var(--color-primario);
}

section a:focus {
    outline: none;
}
section a {
    text-decoration: none;
    color: var(--color-texto);
    font-weight: bold;
    transition: color 0.3s ease;
}
section a:hover {
    color: var(--color-secundario);
}
section h3{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-texto);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: #1a1a1a 1px 1px 2px;
}
section h3:hover {
    color: var(--color-secundario);
}
section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
section ul li {
    margin: 10px 0;
    padding: 10px;
    background: var(--color-acento);
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--color-sombra);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
section ul li:hover {
    background: var(--color-secundario);
    transform: translateY(-2px);
}
